<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/abhay2.css">
</head>
<body>
    <div class="container">
        <div class="background-effects">
            <div class="cubes-container">
                <div class="cubes"></div>
                <div class="wave"></div>
            </div>
        </div>
        <div class="login-form">
            <form id = "login"  method="post">
                <h2 class="text-center">Login</h2>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100" id="btm">Login</button>
                <p>Don't have an account?  <a href="register" id="reglnk">Sign Up!</a></p>
            </form>
        </div>
    </div>
    <!-- <script src="js/abhay2.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- <script>
    $("#login").submit((e) => {
        e.preventDefault();

        const formData = {
            email: $("#username").val(),
            password: $("#password").val()
        };

        $.ajax({
            url: 'http://localhost:3000/login',
            data: JSON.stringify(formData),
            method: "POST",
            contentType: "application/json",
            success: function (response) {
                console.log(response);

                if (response.result === "success") {
                    alert("Login Successful");
                    // Redirect or perform other actions after successful login
                } else {
                    alert("Login Failed");
                }
            },
            error: function (err) {
                console.error("Error:", err);
                alert("An error occurred while logging in.");
            },
        });
    });
</script> -->



</body>
</html>
